version: 2
updates:

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
    time: "12:00"
    timezone: "Asia/Tokyo"
  commit-message:
    prefix: "chore"
    include: "scope"
  open-pull-requests-limit: 10
  assignees:
  - "zoncoen"
  groups:
    github-actions:
      patterns:
      - "*"

- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "daily"
    time: "12:00"
    timezone: "Asia/Tokyo"
  commit-message:
    prefix: "chore"
    include: "scope"
  open-pull-requests-limit: 10
  assignees:
  - "zoncoen"
  ignore:
  - dependency-name: "carvel.dev/ytt"
  groups:
    go-major:
      update-types:
      - "major"
      patterns:
      - "*"
    go-minor:
      update-types:
      - "minor"
      patterns:
      - "*"
    go-patch:
      update-types:
      - "patch"
      patterns:
      - "*"

- package-ecosystem: "gomod"
  directory: "/plugin/testdata/wasm/src"
  schedule:
    interval: "daily"
    time: "12:00"
    timezone: "Asia/Tokyo"
  commit-message:
    prefix: "chore"
    include: "scope"
  open-pull-requests-limit: 10
  assignees:
  - "zoncoen"
  ignore:
  - dependency-name: "carvel.dev/ytt"
  groups:
    go-major:
      update-types:
      - "major"
      patterns:
      - "*"
    go-minor:
      update-types:
      - "minor"
      patterns:
      - "*"
    go-patch:
      update-types:
      - "patch"
      patterns:
      - "*"
