package main

import (
	"crypto/tls"
	"net/http"

	"github.com/goccy/wasi-go-net/wasip1"
	_ "github.com/scenarigo/scenarigo"
	"github.com/scenarigo/scenarigo/plugin"
)

func init() {
	http.DefaultTransport = &http.Transport{
		DialContext: wasip1.DialContext,
		TLSClientConfig: &tls.Config{
			InsecureSkipVerify: true,
		},
	}
}

func main() {
	plugin.Register(
		func() []*plugin.Definition {
			return []*plugin.Definition{
				{{- range .Values }}
				plugin.ToDefinition("{{ . }}", {{ . }}),
				{{- end }}
				{{- range .Funcs }}
				plugin.ToDefinition("{{ . }}", {{ . }}),
				{{- end }}
			}
		},
		func() []*plugin.Definition {
			return []*plugin.Definition{
				{{- range .Values }}
				plugin.ToDefinition("{{ . }}", {{ . }}),
				{{- end }}
			}
		},
	)
}
