name: bump indirect modules
on:
  schedule:
  - cron: '0 3 * * *'
  workflow_dispatch:
jobs:
  bump-indirect-modules:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Install Go
      id: setup-go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: stable
        check-latest: true
        cache: false
    - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      id: go-cache
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: go-ubuntu-latest-${{ steps.setup-go.outputs.go-version }}-${{ hashFiles('go.sum') }}
        restore-keys: |
          go-${{ steps.setup-go.outputs.go-version }}-
    - name: Bump indirect modules
      run: |
        ./scripts/bump-indirect-modules.sh || true && go mod tidy
        cd plugin/testdata/wasm/src && go mod tidy
    - name: Show diff
      run: git add -N . && git diff
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
      with:
        app_id: ${{ secrets.WRITE_APP_ID }}
        private_key: ${{ secrets.WRITE_PRIVATE_KEY }}
    - name: Create pull request
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        token: ${{ steps.generate_token.outputs.token }}
        commit-message: 'chore(deps): bump indirect modules'
        branch: bump-indirect-modules
        base: main
        sign-commits: true
        title: 'chore(deps): bump indirect modules'
        body: ''
        labels: dependencies
        reviewers: zoncoen
