name: test on tip
on:
  schedule:
  - cron: '3 * * * *'
  pull_request:
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: stable
        check-latest: true
        cache: false
    - name: Install Go tip
      run: |
        go install golang.org/dl/gotip@latest
        gotip download
    - name: Generate codes and plugins
      env:
        GO: gotip
      run: make gen
    - name: Test
      env:
        GO: gotip
        SCENARIGO_GO_MOD_TIDY_RETRY: 1
      run: make test/ci

  run-examples:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: stable
        check-latest: true
        cache: false
    - name: Install Go tip
      run: |
        go install golang.org/dl/gotip@latest
        gotip download
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Build
      env:
        GO: gotip
      run: make build
    - name: Run examples
      env:
        GO: gotip
        SCENARIGO_GO: gotip
      run: make test/examples
